body{
    background-color: #2c3338;
}
#form{
    width: 400px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    
}
#h2{
    color: white;
    text-align: center;
    font-size: 30px;
}
.input{
    width: 100%;
    background-color:darkgray;

}

#size{
    padding: 20px;
    border-radius: 4px;
}
#text{
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#submit{
    background-color:coral;
    color: white;
    padding:20px;
    font-size: 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
}

#p{
    color: white;
    text-align: center;
    font-size: 15px;
}